<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Use a parent folder to share Nuget package downloads across root branches, and avoid
         checking packages in -->
    <add key="repositoryPath" value="../packages" />
    <add key="disableSourceControlIntegration" value="true" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <disabledPackageSources>
    <add key="MS NuGet Package Source" value="true" />
  </disabledPackageSources>
</configuration>