@model Microsoft.HealthVault.RestApi.Generated.Models.ActionPlansResponseActionPlanInstance

@{
    ViewBag.Title = "Action Plans";
}

<h2>Action Plans</h2>

You have @Model.Plans.Count() action plans.
